@font-face {
    src: url(../fonts/Lobster-Regular.ttf);
    font-family: Lobster;
}

@font-face {
    src: url(../fonts/Rubik.ttf);
    font-family: Rubik;
}


@font-face {
    src: url(../fonts/Josefin.ttf);
    font-family: Josefin;
}


body {
    background-color: #f3f3f3;
    color: #283747
    font-size 150px;
    margin: 0;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: medium;
}

.row {
    height: 100px;
    width: 50%;
    margin: 50px auto;
    margin-bottom: 200px;

}

.column {
    display: inline-block;
}

.left {
    float: left;
    width: 35%;
    height: 100px;

}

.right {
    width: 65%;
    height: 100px;
}

.heading {
    height: 50px;
}

.footer {
    height: 40px;
    clear: both;
}


.bio{
    position:relative;
    top:100px;
}

.gitIcon {
    position: absolute;
    bottom: 50px;
    right: 220px;
    width: 1000px;
}


.headshot {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 20px !important;
}

.buttonlink{
    display: grid;
    height: 80px;
    width: 250px;
    background-color: #3C1874;
    position: relative;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    place-items:center;
    color:#F3F3F3;
    font-size: 20px;
    font-weight: none;
    letter-spacing: 3px;
    border-radius: 5px;
}

.buttonlink:hover {
    background-color:#283747;
    color:#DE354C;
}
.copyright {
    color: #F3F3F3;
    background-color:#283747;
    position: relative;
    padding: 10px;
    border: 5px;
}
.banner_text {
    font-family: Josefin, sans-serif;
    font-size: larger;
    color: #4295c9;
    position: relative;
    top: 200px;
}

.banner {
    background-color: #3C1874;
    background-image:url("../images/pixel-art.gif");
    background-size:cover;

    padding-top: 300px;
    padding-bottom: 300px;

}

dt {
    color: #DE354C;
    font-size:large
}

a {
    color: #932432;
    text-decoration: none;
}

.top {
    color: #932432;
    position: relative;
    padding: 350px;
}

.middle1 {
    color: #F3F3F3;
    background-color:#3C1874;
    position: relative;
    padding: 50px;
    height: 1000px;
    width: 100%;
}

.bottom {
    position: relative;
    padding: 100px;
}

hr{
    border-top: dotted #c3c3c3 8px;
    border-bottom: none;
    width: 20%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    display: grid;
    height: 400px;
    width: 400px;
    background-color: #3C1874;
    position:relative;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    place-items:center;
    color:#F3F3F3;
    font-size: 20px;
    font-weight: none;
    letter-spacing: 3px;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


